registry=https://registry.npmjs.org/
@fullbay:registry=https://fullbay-851725176053.d.codeartifact.us-west-2.amazonaws.com/npm/fullbay-npm/
//fullbay-851725176053.d.codeartifact.us-west-2.amazonaws.com/npm/fullbay-npm/:_authToken=${AWS_CODEARTIFACT_TOKEN}